.navbar {
    display: flex;
    justify-content: space-between; /* Aligns items to each end of the container */
    align-items: center; /* Centers items vertically */
    width: 100%;
  }

  .search_bar{
    width: 100%;
  }