// .carouselbg{
//     background: linear-gradient(90deg, rgba(0,0,0,0.94859950816264) 0%, rgba(255,255,255,0) 88%, rgba(255,255,255,0.6936975473783263) 100%);
//     z-index: 2;
// }

.carouselWrapper {
    position: relative; /* Ensures overlay is relative to this wrapper */
    width: 100%;
    margin-top: -75px;
  }
  
  .carouselbg {
    position: relative; /* Ensures the carousel is relative for the overlay */
    z-index: 1;
  }
  
  .gradientOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0.94859950816264) 0%, rgba(255,255,255,0) 100%, rgba(255,255,255,0.6936975473783263) 100%);
    z-index: 2; /* Overlay is above carousel content */
  }

  .movieInfo {
    max-width: 500px;
    margin-bottom: 20px;
  }

  .movieTitle{
    color: white !important;
    font-size: 80px !important;
  }
  
  